* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

ul {
    list-style: none;
}

header {
    text-align: center;
    padding: 15px;
}

.btn {
    background-color: royalblue;
    border: none;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.month-view {
    max-width: 66%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.inputError {
    display: none;
    color: crimson;
}

/* input:invalid:required {
    border-color: crimson;
} */

input:focus:required:invalid {
    border-color: crimson;
}

.help-class {
    border-color: crimson;
}

.form-inputs {
    display: none;
}

.button {
    /* padding: 1em 2em;
    border: 0; */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 30% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalOpen;
    animation-duration: 1s;
}

.closeBtn {
    color: #ccc;
    
}

@keyframes modalOpen {
    from{opacity:0}
    to {opacity: 1}
}

/* ============================
    Mobile Responsiveness
   ============================*/